body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*
*NavBar Image Hover
*/
.slider{
    -webkit-transition: 0.1s ease;
}
.slider:hover{
    transform: scale(1.1);
}
/*
*Jumbotron
*/
.jumbotron{
    position: relative;
    margin-bottom: 0px;
    background-image: url("../images/ChikkiWallpaper.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    min-width: 1024px;
    width: 100%;
    height: auto;
    left: 0;
}
.jumbotronContact{
    position: relative;
    margin-bottom: 0px;
    background-image: url("../images/ChikkiWallpaper2.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    min-width: 1024px;
    width: 100%;
    height: auto;
    left: 0;
}
.jumboHR{
    width: 100px;
}
#carousel{
    height: 100px;
}
.btn-lg{
    background-color: #00B3D6;
    border-color: #00B3D6;
    position: relative;
    text-align: center;
    display:block;
    margin: 0 auto;

}
.btn-md{
    background-color: #00B3D6;
    border-color: #00B3D6;
    position: relative;
    /* text-align: center; */
    display:block;
    margin: 0 auto;

}
.jaggeryBTN{
    border: white;
    background-color: white;
    color: black;
}
.jaggeryBTN:hover{
    background-color: #ADD057;
    border-color: #ADD057
}
.btn-lg:hover{
    background-color: #ADD057;
    border-color: #ADD057
}
.btn-md:hover{
    background-color: #ADD057;
    border-color: #ADD057
}
@media screen and (max-width: 1024px) { 
    .jumbotron {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

.logo{
    display: block;
    margin: 0 auto;
    padding-top:100px; 
}
.logo{
    -webkit-transition: 0.1s ease;
}
.logo:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 600px) { 
    .logo{
        padding-top: 140px;
        width: 400px;
        height: auto;
    }
}
h1{
    font-size: 45px;
}
.mission{
    padding-left:200px;
    padding-right:200px;
    color: #EA405C;
}
@media screen and (max-width: 600px) { 
    .mission{
        padding-left:50px;
        padding-right:50px;
    }
}

.ingredients:hover{
    transform: scale(1.1);
}
.ingredients{
    -webkit-transition: 0.1s ease;
}
/*
*Paralax
*/
.paralax{
    height: 300px;
    background-image: url("../images/ChikkiSlider2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
/*
*Young
*/

.youngEntrpreneur{
    background-color: #282e34;
}
.mohnish{
    height: 220px;
    width: auto;
    -webkit-transition: 0.1s ease;
}
.mohnish:hover{
    transform: scale(1.1);
}
.youngH2{
    color: #fff;
}
.youngP{
    color: #fff;
    padding-left:300px;
    padding-right:300px;
}
@media screen and (max-width: 800px) { 
    .youngP{
        padding-left: 50px;
        padding-right: 50px;

    }
}

/*
*Variety
*/
.bar:hover{
    transform: scale(1.2);
}
.bar{
    -webkit-transition: 0.1s ease;
}
/*
*Footer
*/
.chikkiFooter{
    text-align: center;
    background-color: #F8F9FA;
    padding:20px;
    bottom: 0;
    padding: 20px;
    width: 100%;
    color: black;    
    font-size: 12px;
}
/*
*contact
*/
.section1{
    margin-bottom: 0;
    padding:30px;
    padding-left:70px;
    padding-right:70px;
    position: relative;
    background-color: #ddd;
    text-align: center;
    color: rgb(29, 28, 28);
    letter-spacing: 1px;

}
.modal-title{
    align-items: center;
}

