body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*
*NavBar Image Hover
*/
.slider {
    -webkit-transition: 0.1s ease;
}
.slider:hover {
    transform: scale(1.1);
}
/*
*Jumbotron
*/
.jumbotron{
    background-image: url("../images/ChikkiWall3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}
.jumbotronContact{
    background-image: url("../images/ChikkiWallpaper2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;

}
.jumboHR{
    width: 100px;
}
.logo{
    display: block;
    margin: 0 auto;
    padding-top:100px; 
}
.logo{
    -webkit-transition: 0.1s ease;
}
.logo:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 500px) { 
    .logo{
        padding-top: 50px;
        width: 300px;
        height: auto;
    }
}
.btn-lg{
    background-color: #00B3D6;
    border-color: #00B3D6;
    position: relative;
    text-align: center;
    display:block;
    margin: 0 auto;

}
.jumboBtn{
    margin-top: 20%;
}
.btn-lg:hover{
    background-color: #ADD057;
    border-color: #ADD057
}
.btn-md{
    background-color: #00B3D6;
    border-color: #00B3D6;
    position: relative;
    /* text-align: center; */
    display:block;
    margin: 0 auto;

}
.btn-md:hover{
    background-color: #ADD057;
    border-color: #ADD057
}
.jaggeryBTN{
    border: white;
    background-color: white;
    color: black;
}
.jaggeryBTN:hover{
    background-color: #ADD057;
    border-color: #ADD057
}

h1{
    font-size: 45px;
}
.mission{
    padding-left:200px;
    padding-right:200px;
    color: #EA405C;
}
@media screen and (max-width: 500px) { 
    .mission{
        padding-left:50px;
        padding-right:50px;
    }
}

.ingredients:hover{
    transform: scale(1.1);
}
.ingredients{
    -webkit-transition: 0.1s ease;
}
#jaggeryP{
    color: #EA405C;
}
/*
*Paralax
*/
.paralax{
    height: 300px;
    background-image: url("../images/ChikkiSlider2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/*
*Young
*/

.youngEntrpreneur{
    background-color: #282e34;
}
.mohnish{
    height: 220px;
    width: auto;
    -webkit-transition: 0.1s ease;
}
.mohnish:hover{
    transform: scale(1.1);
}
.youngH2{
    color: #fff;
}
.youngP{
    text-align: left;
    color: #fff;
    padding-left:300px;
    padding-right:300px;
}
@media screen and (max-width: 800px) { 
    .youngP{
        padding-left: 20px;
        padding-right: 20px;

    }
}


.yeaH2{
    margin-top: 10%;
}
.yeaImage{
    height: 300px;
    width: auto;
    margin: 30px;
}
.yeaP{
    text-align: left;   
    padding:40px;
    margin-top: 20px;
    color: #EA405C;
}
#newsH2{
    color: #fff;
}
.newspaper{
    width: 400px;
    height: auto;
    cursor: pointer;
}
.certificate{
    width:400px;
    height: auto;
    margin-top: 15%;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover,
    .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }
    .close2:hover,
    .close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    }
    @media only screen and (max-width: 700px){
        .modal-content {
          width: 100%;
        }
    }



@media screen and (max-width: 800px) { 
    .yeaImage{
        height: 200px;
        width: auto;
    }

}
@media screen and (max-width: 800px) { 

    .yeaP{
        padding:5px;
        margin-top: 0;

    }
}


/*
*Variety
*/
.bar:hover{
    transform: scale(1.2);
}
.bar{
    -webkit-transition: 0.1s ease;
}
/*
*Footer
*/
.chikkiFooter{
    text-align: center;
    background-color: #F8F9FA;
    padding:20px;
    bottom: 0;
    padding: 20px;
    width: 100%;
    color: black;    
    font-size: 12px;
}
/*
*contact
*/
.section1{
    margin-bottom: 0;
    padding:30px;
    padding-left:70px;
    padding-right:70px;
    position: relative;
    background-color: #ddd;
    text-align: center;
    color: rgb(29, 28, 28);
    letter-spacing: 1px;

}
.modal-title{
    align-items: center;
}

.buybox{
    margin-top: 10px;
    margin-bottom: 10px;
}

.business:hover{
    transform: scale(1.1);
}
.business{
    height: 200px;
    width:200px;
    -webkit-transition: 0.1s ease;
}

